---
layout: seesee/page
---

{{ content }}

<p class="ssText" style="text-align: center">Interested in a particular piece or planning a studio visit?<br/>
PM me on Instagram <a href="https://www.instagram.com/seeseeloca" style="color: #329311">@seeseeloca</a> or <a href="mailto:seeseeloca@gmail.com?subject=See%20See%20Lo%20Updates&body=Please%20inform%20me%20of%20occasional%20art%20updates%20from%20See%20See%20Lo." style="color: #a229ad">via email.</a></p>

<!--
  <center>
    <a class="btn btn--inverse" href="mailto:seeseeloca@gmail.com?subject=See%20See%20Lo%20Updates&body=Please%20inform%20me%20of%20occasional%20art%20updates%20from%20See%20See%20Lo.">Click Here to Receive Updates on Events and Artwork Availability</a>
  </center>
-->

<div class="entries-{{ page.entries_layout | default: 'list' }}">
  {% include seesee/documents-collection.html collection=page.collection sort_by=page.sort_by sort_order=page.sort_order %}
</div>
