---
layout: seesee/default
---

<main id="main" class="main-content" aria-label="Content">
  <!-- seesee/page -->
  <article>
    {% include page-image.html %}
    <div class="page-wrapper">
      <header class="page-header">
        {% if page.id %}
          {% assign title = page.title | markdownify | strip_html %}
        {% else %}
          {% assign title = page.title %}
        {% endif %}
        {% assign artist = "See See Lo:" %}
        {% if page.link %}
          <h1 id="page-title" class="ss-page-title"><a href="{{ page.link }}"><span class="ss-slim">{{ artist }}</span> <span class=""ss-crunch">{{ title }}</span> <span class="link-arrow">&rarr;</span></a></h1>
        {% else %}
          <h1 id="page-title" class="ss-page-title"><span class="ss-slim">{{ artist }}</span> <span class="ss-crunch">{{ title }}</span></h1>
        {% endif %}
      </header>
      <div class="page-content">
        {{ content }}

        {% if page.share %}
          {% include social-share.html %}
        {% endif %}
      </div>
    </div>
  </article>
</main>
