{% if entry.id %}
  {% assign title = entry.title | markdownify | strip_html %}
{% else %}
  {% assign title = entry.title %}
{% endif %}
{% if entry.slides %}
  {% assign slideclass = "slide-link" %}
{% else %}
  {% assign slideclass = "" %}
{% endif %}

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      {% if entry.link %}
        <a class="u-bookmark-of" href="{{ entry.link }}">{{ title }} <span class="link-arrow">&rarr;</span></a>
      {% else %}
        <a href="{{ entry.url | relative_url }}" rel="bookmark">{{ title }}</a>
      {% endif %}
    </h3>
    {% if entry.image.thumbnail %}
      {% assign entry_image = entry.image.thumbnail %}
      {% unless entry_image contains '://' %}
        {% assign entry_image = entry_image | relative_url %}
      {% endunless %}
      {% assign entry_image = entry_image | escape %}
      {% if entry.link %}
        <a class="u-bookmark-of" href="{{ entry.link }}"><img class="{{ slideclass }} entry-link u-photo" src="{{ entry_image }}" alt=""></a>
      {% else %}
        <a href="{{ entry.url | relative_url }}" class="{{ slideclass }}" rel="bookmark"><img class="entry-image u-photo" src="{{ entry_image }}" alt=""></a>
      {% endif %}
    {% endif %}
  </header>
  {% unless page.show_excerpts == false %}
    <div class="entry-excerpt p-summary">
      {% if entry.excerpt %}
        {{ entry.excerpt | markdownify }}
	{% assign exc_s = entry.excerpt | strip_html %}
	{% assign con_s = entry.content | markdownify | strip_html %}
  <!-- extra_content: {{ extra_content }} -->
	{% if exc_s == con_s %}
	<!-- Excerpt and content match: no need for more-link -->
	{% else %}
	<!-- Excerpt and content vary -->
        <div class="more-link">
          <a href="{{ entry.url | relative_url }}">{{ site.data.text[site.locale].read_more | default: 'Read More...' }}</a>
	  <hr>
        </div>
	{% endif %}
      {% endif %}
    </div>
  {% endunless %}
  {% if site.read_time or entry.date and page.layout != 'collection' %}
    <footer class="entry-meta">
      {% if site.read_time and exc_s != con_s %}{% include read-time.html %}{% endif %}
      {% if entry.date %}{% include entry-date.html %}{% endif %}
    </footer>
  {% endif %}
  {% if entry.previous %}
    {% assign prev_page = entry.previous %}
  {% endif %}
</article>
