{% if page.slides %}
  <div class="slideshow-player">
    <div class="slideshow-container">
      {% for slide in page.slides %}
        <div class="mySlides slide-fade">
          {% if page.numberless %}
            <!-- No Slide Number: {{ forloop.index }} / {{ forloop.length }} -->
          {% else %}
            <div class="slideshow-counter">{{ forloop.index }} / {{ forloop.length }}</div>
          {% endif %}
          {% if slide[2] %}
            {% if slide[1] %}
              <a href="{{ slide[2] }}"><img src="https://www.botzilla.com/{{ slide[0] }}" 
                alt="{{ slide[1] }}"></a>
              {% if slide[1] != "" %}
                <div class="slideshow-caption">{{ slide[1] }}</div>
              {% endif %}
              <div class="slideshow-caption">{{ slide[1] }}</div>
            {% else %}
              <a href="{{ slide[2] }}"><img src="https://www.botzilla.com/{{ slide[0] }}""></a>
            {% endif %}
          {% else %}
            {% if slide[1] %}
              <img src="https://www.botzilla.com/{{ slide[0] }}" 
                alt="{{ slide[1] }}" onclick="stopStartSlides()">
              <div class="slideshow-caption">{{ slide[1] }}</div>
            {% else %}
              <img src="https://www.botzilla.com/{{ slide[0] }}" onclick="stopStartSlides()">
            {% endif %}
          {% endif %}
        </div>
      {% endfor %}
      <a class="slide-prev" onclick="negSlides()">&#10094;</a>
      <a class="slide-next" onclick="plusSlides()">&#10095;</a>
      <p id="slide-play" class="slide-fade-control" style="display: none">▶</p>
      <p id="slide-paused" class="slide-fade-control" style="display: none">❙❙</p>
    </div>
    <br> <!-- make some space for captions if present -->
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        {% if page.slidesFinalDelay %}
          setSlidesFinal({{ page.slidesFinalDelay }}); 
        {% endif %}
        {% if page.slideDelay %}
          currentSlide(0, {{ page.slideDelay }});
        {% else %}
          currentSlide(0, 6000);
        {% endif %}
      });
    </script>
    {% if page.dotless == true %}
      <!-- No Selector Dots -->
    {% else %}
      <div class="slide-dot-controls" id="slide-dots">
        {% for slide in page.slides %}
          <span class="slide-dot" onclick="currentSlide({{ forloop.index }})"></span>
        {% endfor %}
      </div>
    {% endif %}
  </div>
{% endif %}