---
# Only the main Sass file needs front matter (the dashes are enough)
sitemap: false
---

@charset "utf-8";

@import "so-simple";

@import "slides.css";

.close_p {
  margin-bottom: 0.5rem;
}

.open_hr {
    margin-top: 0.75rem;
    margin-bottom: 1.5rem;
}

.page-subtitle {
  @include fluid-type($min-vw, $max-vw, 24px, 32px);
  margin-bottom: 0.5em;
  font-family: $title-font-family;
  font-weight: $page-title-weight;
  /* font-style: italic; */
  text-transform: uppercase;
  letter-spacing: -2px;
}



.site-inline-nav {
  display: block;
  margin-bottom: 1em;
  text-align: center;

  ul {
    display: block;
    margin: 0;
    padding: 0.25em 0.75em;
    list-style: none;
    /* color: $nav-color; */
    /* background-color: $nav-background-color; */
    /* border-radius: 0 0 (2 * $border-radius) (2 * $border-radius); */

    @include breakpoint($medium) {
      display: inline-block;
    }
  }

  li {
    display: inline-block;
    font-size: 0.75em;
  }

  a {
    display: block;
    padding: 0.5em 0.75em;
    /* color: $nav-color; */
    text-transform: uppercase;
    text-decoration: none;
    /* border: 1px solid $nav-background-color;
    border-radius: $border-radius; */

    /* &:hover {
      border-color: $nav-color;
    } */
  }

  /*@include breakpoint($medium) {
    display: block;
  } */

  /*&.js-menu-is-open {
    display: block;
    -webkit-animation-name: initial;
    animation-name: initial;
  }*/
}

.entries-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: .5em;

  .entry {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-bottom: .2rem;
  }

  .entry-title {
    @include fluid-type($min-vw, $max-vw, 18px, 24px);
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    margin-bottom: 2px;
  }

  .entry-excerpt,
  .entry-content {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;

    /* remove space after last child element */
    > *:last-child {
      margin-bottom: 0;
    }
  }

  .entry-excerpt {
    /* normalize font sizes */
    > * {
      font-size: 1em;
    }
  }

  .entry-meta {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    margin-bottom: 1em;
    font-size: 0.75em;
    display: none;
  }

  .more-link {
    margin-top: -1em;
    color: $text-color;

    a {
      text-decoration: none;
    }
  }
}

.statement {
  background-color: #eee;
  padding: 1em;
  margin-bottom: 0.7em;
}

.statement-title {
  font-style: italic;
  padding: 0.2em 0.5em;
  margin-bottom: 0;
  border-style: none;
  background-color: #ddd;
}

.statement-content {
  -webkit-animation-name: statement_fade;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-timing-function: ease-in;
  padding: 0;
  margin-top: 1em;
  margin-bottom: 0;
  margin-left: 2em;
  animation-name: statement_fade;
  animation-duration: 0.75s;
  animation-timing-function: ease-in;
}

@-webkit-keyframes statement_fade {
  from {opacity: 0}
  to {opacity: 1}
}

@keyframes statement_fade {
  from {opacity: 0}
  to {opacity: 1}
}