---
# Only the main Sass file needs front matter (the dashes are enough)
sitemap: false
---

@charset "utf-8";

@import "so-simple";

@import "slides.css";

.close_p {
  margin-bottom: 0.5rem;
}

.open_hr {
    margin-top: 0.75rem;
    margin-bottom: 1.5rem;
}

.site-inline-nav {
  display: block;
  margin-bottom: 1em;
  text-align: center;

  ul {
    display: block;
    margin: 0;
    padding: 0.25em 0.75em;
    list-style: none;
    /* color: $nav-color; */
    /* background-color: $nav-background-color; */
    /* border-radius: 0 0 (2 * $border-radius) (2 * $border-radius); */

    @include breakpoint($medium) {
      display: inline-block;
    }
  }

  li {
    display: inline-block;
    font-size: 0.75em;
  }

  a {
    display: block;
    padding: 0.5em 0.75em;
    /* color: $nav-color; */
    text-transform: uppercase;
    text-decoration: none;
    /* border: 1px solid $nav-background-color;
    border-radius: $border-radius; */

    /* &:hover {
      border-color: $nav-color;
    } */
  }

  /*@include breakpoint($medium) {
    display: block;
  } */

  /*&.js-menu-is-open {
    display: block;
    -webkit-animation-name: initial;
    animation-name: initial;
  }*/
}