---
# Only the main Sass file needs front matter (the dashes are enough)
sitemap: false
---

@charset "utf-8";

@import "so-simple";

.close_p {
  margin-bottom: 0.5rem;
}

.open_hr {
    margin-top: 0.75rem;
    margin-bottom: 1.5rem;
}