/* see see font etc overrides */

.ssText {
  font-family: "Open Sans", sans-serif;;
  text-transform: none;
  color: #666;
}

.ssAddress {
  font-family: "Open Sans", sans-serif;;
  text-transform: none;
  color: #666;
  text-align: center;
  font-size: 20px;
}

.ss-page-title {
    margin-bottom: 0.5em;
    font-family: "Open Sans", sans-serif;;
    font-weight: 300;
    text-transform: none;
    color: #888;
    text-align: center;
    font-style: italic;
    letter-spacing: -2px; }
    .ss-page-title {
      font-size: 48px; }
      @media screen and (min-width: 320px) {
        .ss-page-title {
          font-size: calc(48px + 12 * ((100vw - 320px) / 960)); } }
      @media screen and (min-width: 1280px) {
        .ss-page-title {
          font-size: 60px; } }
  
.ss-page-subtitle {
  @include fluid-type($min-vw, $max-vw, 24px, 32px);
  margin-bottom: 0.5em;
  font-family: "Open Sans", sans-serif;;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  color: #888;
  text-transform: none;
  letter-spacing: -2px;
}

.ss-crunch {
  font-weight: 700;
}
.ss-slim {
  font-weight: 200;
}

.ss-entry-title {
  @include fluid-type($min-vw, $max-vw, 18px, 24px);
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  margin-bottom: 2px;
  font-family: "Open Sans", sans-serif;;
  font-weight: 300;
  text-transform: none;
  color: #888;
  text-align: center;
  width: 100%; /* new */
}
